// .homeHeader{
//     position: fixed;
//     top:0%;
//     left:40%;
// }


.topBarName{
    color: #000;
    text-align: center;
    font-family: GFS Neohellenic;
    font-size: 48px;
    font-weight: 700;
    background-color: #fedabc;
    width: auto;
    height: 114px;
    padding-top: 30px;
    margin-bottom: 20px;
    @include respond('430px'){
       display: none;
    }
}

.hamHeader{
    
    @include respond ('430px'){
        style* { margin: 0 auto; font-family: GFS Neohellenic; }

        body { margin: 0 auto; }

        header {
            height: 70px;
            background-color: #fedabc;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        header > h1 {
            width: calc(100% - 160px);
            text-align: center;
            font-size: 24px;
            color: black;
        }
        header > .top {
            position: absolute;
            left: 20px;
        }
        header > .top a.menu_icon i {
            color: #000;
            font-size: 40px;
            padding-top: 5px;
            transition: .2s ease;
        }
        // header > .top a.menu_icon:hover i {
        //     color: #fff;
        // }
        nav.menu {
            width: 300px;
            //min-height: calc(100vh - 121px);
            background-color: #fedabc;
            position: absolute;
            left: -300px;
            transition: .3s all;
            .item_menu{
                display: block;
                padding: 5px;
                margin: 15px 0 0px 20px;
                color: black;
                text-transform: uppercase;
            }
        }
        
        .menu_show {
            left: 10px;
        }

        // @media screen and (max-width: 425px) {
        //     header h1 {
        //         font-size: 16px;
        //     }
        // }
        // @media screen and (max-width: 360px) {
        //     nav.menu {
        //         width: 100%;
        //         left: -100%; 
        //     }
        // }

    }
}
.navTags{
    text-decoration: none;
    color: #000;
    text-align: center;
    font-family: GFS Neohellenic;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    @include respond('430px'){
        display: none;
    }


    ul{
        display: flex;
        flex-direction: row;
        justify-content: center;
        justify-content: space-around;
        margin-bottom: 50px;
        text-decoration: none;
        
    }
    .barItems{
        padding: 20px 20px;
        text-decoration: none;
        color: #000;
        background-color: #fedabc;
        margin: 10px 20px 10px 20px;
        clip-path: polygon(57% 13%, 100% 17%, 100% 88%, 28% 95%, 0 73%, 5% 0);
        
    }
    
}



    

