.topBarName{
    color: #000;
    text-align: center;
    font-family: GFS Neohellenic;
    font-size: 48px;
    font-weight: 700;
    background-color: #fff4eb;
    width: auto;
    height: 114px;
    padding-top: 30px;
    margin-bottom: 20px;
    @include respond('430px'){
        font-size: 32p;
    }
}


.navTags{
    text-decoration: none;
    color: #000;
    text-align: center;
    font-family: GFS Neohellenic;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;


    ul{
        display: flex;
        flex-direction: row;
        justify-content: center;
        justify-content: space-around;
        margin-bottom: 50px;
        text-decoration: none;
        
    }
    li{
        padding: 20px 20px;
        text-decoration: none;
        color: #000;
        background-color: #fff4eb;
        margin: 10px 20px 10px 20px;
        
    }
    
}

    

