.topBarName{
    &.--object{
        margin-bottom: 40px;
        font-size: 30px;
        height: 80px;
    }
}
.backButton{
    width: 200px;
    height: 200px;
    margin-left: 50px;
    @include respond ('431px'){
        width: 100px;
        height: 100px;
        margin-left: 20px;
    }
}

.projectBox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 100px;
    @include respond ('431px'){
        margin-left: 100px;
        margin-right: 100px;
        flex-direction: column;
        align-content: center;
    }
    
    .projectImage{
        width: 40%;
        height: 40%;
        margin-right: 40px;
        @include respond ('431px'){
            width: 100%;
            height: 100%;
            margin-bottom: 20px;
        }
    }
    .projectText{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        @include respond ('431px'){
            text-align: center;
        }
        .projectTitle{
            font-family: GFS Neohellenic;
            font-size: 40px;
            font-weight: 700;
            @include respond ('431px'){
                font-size: 30px;
            }
        }
        .projectMedium{
            font-size: 24px;
            font-style: italic;
            font-weight: 400;
            @include respond ('431px'){
                font-size: 12px;
                margin-bottom: 20px;
            }
        }
    }
}

.progressTitle{
    font-family: GFS Neohellenic;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 40px;
    @include respond ('431px'){
        font-size: 30px;
    }
}
.carasol{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-content: center; 
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    width: 40%;
    height: 40%;
    @include respond ('431px'){
        width: 60%;
        height: 60%;
    }
    .carasolObject{
        width: 100%;
        height: 100%;
        display:flex;
        flex-direction: row;
        justify-content: center;
        margin-left: 10px;
        margin-right: 10px;
    }
}


