@import url(https://fonts.google.com/specimen/GFS+Neohellenic?query=greek);
body {
  background-image: url("../portfolio_bigbg_lesscompressed-01.png");
  background-size: cover;
}

.hamburger {
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.portGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 50px;
  margin-bottom: 100px;
  margin-left: 200px;
  margin-right: 200px;
}
@media screen and (max-width: 431px) {
  .portGrid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 30px 50px;
  }
}
.portGrid .project {
  width: 100%;
  position: relative;
  overflow: hidden;
  padding-bottom: 350px;
  transition: transform ease 0.2s;
}
@media screen and (max-width: 431px) {
  .portGrid .project {
    padding-bottom: 250px;
  }
}
.portGrid .project img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.portGrid .project:hover {
  transform: scale(1.1);
}

.footer {
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 50px;
  display: flex;
  align-content: center;
  justify-content: space-between;
}
@media screen and (max-width: 431px) {
  .footer {
    margin-right: 10px;
    margin-left: 10px;
  }
}
.footer .footleft {
  color: black;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 24px;
  margin-left: 20px;
}
@media screen and (max-width: 431px) {
  .footer .footleft {
    font-size: 8px;
  }
}
.footer .footright {
  color: black;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 18px;
  margin-right: 20px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: end;
  justify-content: space-evenly;
  padding-bottom: 20px;
}
@media screen and (max-width: 431px) {
  .footer .footright {
    font-size: 8px;
  }
}
.footer .footright .socialIcons {
  width: 35px;
  height: 30px;
  margin-right: 70px;
  display: flex;
  flex-direction: row;
}
@media screen and (max-width: 431px) {
  .footer .footright .socialIcons {
    width: 25px;
    height: 20px;
    margin-right: 40px;
  }
}

/* makes sizing simpler */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* dark mode user-agent-styles */
/* min body height */
body {
  min-height: 100vh;
}

a, button {
  cursor: revert;
}

/* responsive images/videos */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input, textarea {
  -webkit-user-select: auto;
     -moz-user-select: auto;
          user-select: auto;
}

li {
  text-decoration: none;
  color: #000;
  list-style-type: none;
}

nav {
  text-decoration: none;
  color: #000;
  list-style-type: none;
}

ul {
  text-decoration: none;
  color: #000;
  list-style-type: none;
}

.topBarName {
  color: #000;
  text-align: center;
  font-family: GFS Neohellenic;
  font-size: 48px;
  font-weight: 700;
  background-color: #fedabc;
  width: auto;
  height: 114px;
  padding-top: 30px;
  margin-bottom: 20px;
}
@media screen and (max-width: 431px) {
  .topBarName {
    display: none;
  }
}

.hamHeader nav.menu, .hamHeader .menu_icon, .hamHeader header {
  display: none;
}
@media screen and (max-width: 431px) {
  .hamHeader style* {
    margin: 0 auto;
    font-family: "GFS Neohellenic";
  }
  .hamHeader body {
    margin: 0 auto;
  }
  .hamHeader button {
    background: none;
    border: none;
  }
  .hamHeader header {
    font-family: "GFS Neohellenic";
    font-weight: 700;
    height: 70px;
    background-color: #fedabc;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .hamHeader header > h1 {
    width: calc(100% - 160px);
    text-align: center;
    font-size: 24px;
    color: black;
  }
  .hamHeader header > .top {
    position: absolute;
    left: 20px;
  }
  .hamHeader header > .top a.menu_icon i {
    color: #000;
    font-size: 40px;
    padding-top: 5px;
    transition: 0.2s ease;
  }
  .hamHeader .menu_icon {
    display: block;
    position: relative;
    z-index: 101;
  }
  .hamHeader nav.menu {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    display: block;
    width: 300px;
    height: 100vh;
    background-color: #fedabc;
    position: absolute;
    left: -300px;
    top: 0px;
    z-index: 100;
    padding-top: 100px;
    transition: 0.3s all;
  }
  .hamHeader nav.menu.menu_show {
    left: 10px;
  }
  .hamHeader nav.menu .item_menu {
    display: block;
    padding: 5px;
    margin: 15px 0 0px 20px;
    color: black;
    text-transform: uppercase;
  }
}

.navTags {
  text-decoration: none;
  color: #000;
  text-align: center;
  font-family: GFS Neohellenic;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
}
@media screen and (max-width: 431px) {
  .navTags {
    display: none;
  }
}
.navTags ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
  margin-bottom: 50px;
  text-decoration: none;
}
.navTags .barItems {
  padding: 20px 20px;
  text-decoration: none;
  color: #000;
  background-color: #fedabc;
  margin: 10px 20px 10px 20px;
}
.navTags .barItems.--about {
  -webkit-clip-path: polygon(57% 13%, 100% 17%, 100% 88%, 28% 95%, 0 73%, 5% 0);
          clip-path: polygon(57% 13%, 100% 17%, 100% 88%, 28% 95%, 0 73%, 5% 0);
}
.navTags .barItems.--illustration {
  -webkit-clip-path: polygon(0 11%, 71% 3%, 100% 32%, 100% 100%, 0 100%, 0 47%);
          clip-path: polygon(0 11%, 71% 3%, 100% 32%, 100% 100%, 0 100%, 0 47%);
}
.navTags .barItems.--home {
  -webkit-clip-path: polygon(50% 0%, 100% 9%, 100% 60%, 93% 88%, 7% 100%, 0 49%, 0 0);
          clip-path: polygon(50% 0%, 100% 9%, 100% 60%, 93% 88%, 7% 100%, 0 49%, 0 0);
}
.navTags .barItems.--graphic {
  -webkit-clip-path: polygon(0 11%, 71% 3%, 100% 32%, 100% 100%, 0 100%, 0 47%);
          clip-path: polygon(0 11%, 71% 3%, 100% 32%, 100% 100%, 0 100%, 0 47%);
}
.navTags .barItems.--contact {
  -webkit-clip-path: polygon(57% 13%, 100% 17%, 100% 88%, 28% 95%, 0 73%, 5% 0);
          clip-path: polygon(57% 13%, 100% 17%, 100% 88%, 28% 95%, 0 73%, 5% 0);
}

.header {
  color: #000;
  text-align: center;
  font-family: GFS Neohellenic;
  font-size: 128px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 80px;
}
@media screen and (max-width: 431px) {
  .header {
    font-size: 64px;
  }
}

.titleTags {
  color: #000;
  text-align: center;
  font-family: GFS Neohellenic;
  font-size: 36px;
  font-weight: 700;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
}
@media screen and (max-width: 431px) {
  .titleTags {
    font-size: 20px;
  }
}

.bounce {
  display: flex;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  width: 300px;
  height: 300px;
  animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  -moz-animation: bounce 2s infinite;
  -o-animation: bounce 2s infinite;
}
@media screen and (max-width: 431px) {
  .bounce {
    width: 250px;
    height: 250px;
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
.topBarName.--object {
  margin-bottom: 40px;
  font-size: 30px;
  height: 80px;
}

.backButton {
  width: 200px;
  height: 200px;
  margin-left: 50px;
}
@media screen and (max-width: 431px) {
  .backButton {
    width: 100px;
    height: 100px;
    margin-left: 20px;
  }
}

.projectBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 100px;
}
@media screen and (max-width: 431px) {
  .projectBox {
    margin-left: 100px;
    margin-right: 100px;
    flex-direction: column;
    align-content: center;
  }
}
.projectBox .projectImage {
  width: 40%;
  height: 40%;
  margin-right: 40px;
}
@media screen and (max-width: 431px) {
  .projectBox .projectImage {
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
  }
}
.projectBox .projectText {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
@media screen and (max-width: 431px) {
  .projectBox .projectText {
    text-align: center;
  }
}
.projectBox .projectText .projectTitle {
  font-family: GFS Neohellenic;
  font-size: 40px;
  font-weight: 700;
}
@media screen and (max-width: 431px) {
  .projectBox .projectText .projectTitle {
    font-size: 30px;
  }
}
.projectBox .projectText .projectMedium {
  font-size: 24px;
  font-style: italic;
  font-weight: 400;
}
@media screen and (max-width: 431px) {
  .projectBox .projectText .projectMedium {
    font-size: 12px;
    margin-bottom: 20px;
  }
}

.progressTitle {
  font-family: GFS Neohellenic;
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 40px;
}
@media screen and (max-width: 431px) {
  .progressTitle {
    font-size: 30px;
  }
}

.carasol {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  width: 40%;
  height: 40%;
}
@media screen and (max-width: 431px) {
  .carasol {
    width: 60%;
    height: 60%;
  }
}
.carasol .carasolObject {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px;
}/*# sourceMappingURL=index.css.map */