.header{
    color: #000;
    text-align: center;
    font-family: GFS Neohellenic;
    font-size: 128px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 80px;
    @include respond ('430px'){
        font-size: 64px;
    }

    //margin-left: 488px;
    //margin-right: 488px;
}
.titleTags{
    color: #000;
    text-align: center;
    font-family: GFS Neohellenic;
    font-size: 36px;
    font-weight: 700;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    @include respond ('430px'){
        font-size: 20px;
    }
    

}
.downButt{
    display: flex;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    width: 300px;
    height: 300px;
    @include respond ('430px'){
        width: 250px;
        height: 250px;
        margin-top: 40px;
    }
}
.footer{
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 50px;
    display: flex;
    align-content: center;
    justify-content: space-between;
    .footleft{
        color: #fff4eb;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 24px;
        margin-left: 20px;
    }
    
    .footright{
        color: #fff4eb;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 18px;
        margin-right: 20px;
        margin-bottom: 10px;
        display: flex;
        flex-direction: row;
        justify-content: end;
        padding-bottom: 20px;
    
        .socialIcons{
            width: 30px;
            height: 30px;
            margin-right: 10px;
            display: flex;
            flex-direction: row;
        }
    }
}

