
@font-face {
    font-family:GFS Neohellenic ;
    src: url("GFSNeohellenic-Regular.ttf");
}
@import url(https://fonts.google.com/specimen/GFS+Neohellenic?query=greek);

body{
    background-image: url("../portfolio_bigbg-01.png");
    background-size: cover;
    //transform: translate(42px, 18px);
}

.hamburger{
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;


}
.portGrid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:30px;
    margin: 100px 200px;
    @include respond ('430px'){
        display: grid;
        grid-template-columns: repeat(1,1fr);
        margin: 30px 50px;
        
    }
    .project{
        width:100%;
        position: relative;
        overflow: hidden;
        padding-bottom: 350px;;
        // transition: transform .2s;
        
        @include respond ('430px'){
            padding-bottom: 250px;
        }
        img{
            position: absolute;
            top:0;
            left:0;
            width: 100%;
            height: 100%;
            object-fit: cover;   
        }
    }
    .project :hover{
        -ms-transform: scale(1.1); /* IE 9 */
        -webkit-transform: scale(1.1); /* Safari 3-8 */
        transform: scale(1.1);
        transition: .3s ease-in-out;
        
    }
}
