
@font-face {
    font-family:GFS Neohellenic ;
    src: url(GFSNeohellenic-Regular.ttf);
}

body{
    background-image: url("../portfolio_bigbg_basecolor-01.png");
    background-size: cover;
}


.portGrid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:30px;
    margin: 50px 100px;
    .project{
        width:100%;
        position: relative;
        overflow: hidden;
        padding-bottom: 400px;;
        img{
            position: absolute;
            top:0;
            left:0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        &.--bottom{
            img{
                object-position: bottom;
            }
        }
    }
}
